In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib notebook

The question I sought to answer for this report is "How have the different energy sources trended over the past 50 years in the United States?"

I was able to find utilities firm revenue statistics data from the 2002, 2007, and 2012 United States Economic Census located [here](https://www.census.gov/programs-surveys/economic-census/data/tables.All.html)

In [46]:
ecen2002 = pd.read_csv("2002 Economic Census of the United states - Utilities- Subject Series - Estab and Firm Size- Revenue Size of Firms for the United States - 2002.csv",header = [0,1])
ecen2007 = pd.read_csv("2007 Economic Census of the United states - Utilities- Subject Series - Estab and Firm Size- Revenue Size of Firms for the United States - 2007.csv",header = [0,1])
ecen2012 = pd.read_csv("2012 Economic Census of the United states - Utilities- Subject Series - Estab and Firm Size- Revenue Size of Firms for the United States - 2012.csv",header = [0,1])

The data are imported and a header of \[0,1\] is noted to include a short description for the header from the data file.

In [111]:
#print(ecen2012.head())
#list(ecen2012)
#print(ecen2007.dtypes)
selection2012 = ecen2012["NAICS.id"].isin([221111,221112,221113,221114,221115,221116,221117,221118])
selection2007 = ecen2007["NAICS.id"].isin([221111,221112,221113,221114,221115,221116,221117,221118])
selection2002 = ecen2002["NAICS.id"].isin([221111,221112,221113,221114,221115,221116,221117,221118])
#print(selection2002[64:89])

ecen2012_energies = ecen2012[selection2012["2012 NAICS code"]]
ecen2007_energies = ecen2007[selection2007["2007 NAICS code"]]
ecen2002_energies = ecen2002[selection2002["2002 NAICS code"]]
#print(ecen2002_energies)

Here we selected the data where the NAICS ID code matches for electricity generating codes across 8 different sources and generated dataframes where these selections are true.

In [186]:
frames = [ecen2012_energies,ecen2007_energies,ecen2002_energies]
ecen_energies = pd.concat(frames)
ecen_energies = ecen_energies.reset_index(drop=True)
ecen_energies.rename(columns={"NAICS.id":"NAICS","NAICS.display-label": "NAICS LABEL","YEAR.id":"YEAR", "RCPSZFF.display-label":"GROUPING_LABEL", "RCPTOT":"REVENUE"},inplace=True)
#ecen_energies["REVENUE"].astype("int64")
print(ecen_energies.dtypes)

EMP                Number of paid employees for pay period including March 12                             object
                   Paid employees for pay period including March 12 (number)                              object
ESTAB              Number of establishments                                                                int64
FIRM               Number of firms                                                                       float64
                   Total number of firms                                                                 float64
GEO.display-label  Geographic area name                                                                   object
GEO.id             Geographic identifier code                                                             object
GEO.id2            Id2                                                                                   float64
NAICS LABEL        Meaning of 2002 NAICS code                                                             object
                   Meaning of 2007 NAICS code                                                             object
                   Meaning of 2012 NAICS code                                                             object
NAICS              2002 NAICS code                                                                       float64
                   2007 NAICS code                                                                       float64
                   2012 NAICS code                                                                       float64
PAYANN             Annual payroll ($1,000)                                                                object
PAYANT             Annual payroll ($1,000)                                                                object
PAYQ1T             First-quarter payroll ($1,000)                                                         object
PAYQTR1            First-quarter payroll ($1,000)                                                         object
GROUPING_LABEL     Meaning of Sales, receipts, or revenue size of firms operated the entire year code     object
                   Meaning of Sls/rcpts/rev size of firms operated entire year code                       object
RCPSZFF.id         Sales, receipts, or revenue size of firms operated the entire year code               float64
                   Sls/rcpts/rev size of firms operated entire year code                                 float64
REVENUE            Revenue ($1,000)                                                                       object
YEAR               Year                                                                                    int64
dtype: object

The dataframes are concatenated.

In [188]:
hydr = ecen_energies["NAICS"]==221111
hydro = ecen_energies[(hydr["2002 NAICS code"]) | (hydr["2007 NAICS code"]) | (hydr["2012 NAICS code"])]
hydro = hydro.reset_index(drop=True)
print(hydro.head())

#plt.figure()
#plt.pie(x=hydro["YEAR"],y=hydro["REVENUE"])
#plt.show()

                                                         EMP  \
  Number of paid employees for pay period including March 12
0                                               3464
1                                                  h
2                                                 25
3                                                 20
4                                                 47

                                                             \
  Paid employees for pay period including March 12 (number)
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                     ESTAB            FIRM                        \
  Number of establishments Number of firms Total number of firms
0                      405           137.0                   NaN
1                      393           125.0                   NaN
2                       20            20.0                   NaN
3                        9             9.0                   NaN
4                       20            19.0                   NaN

     GEO.display-label                     GEO.id GEO.id2  \
  Geographic area name Geographic identifier code     Id2
0        United States                  0100000US     NaN
1        United States                  0100000US     NaN
2        United States                  0100000US     NaN
3        United States                  0100000US     NaN
4        United States                  0100000US     NaN

                 NAICS LABEL                             ...   \
  Meaning of 2002 NAICS code Meaning of 2007 NAICS code  ...
0                        NaN                        NaN  ...
1                        NaN                        NaN  ...
2                        NaN                        NaN  ...
3                        NaN                        NaN  ...
4                        NaN                        NaN  ...

                   PAYANN                  PAYANT  \
  Annual payroll ($1,000) Annual payroll ($1,000)
0                  274179                     NaN
1                       D                     NaN
2                     651                     NaN
3                     402                     NaN
4                    1938                     NaN

                          PAYQ1T                        PAYQTR1  \
  First-quarter payroll ($1,000) First-quarter payroll ($1,000)
0                            NaN                          75946
1                            NaN                              D
2                            NaN                            149
3                            NaN                             92
4                            NaN                            435

                                                                      GROUPING_LABEL  \
  Meaning of Sales, receipts, or revenue size of firms operated the entire year code
0                                          All firms
1                 Firms operated for the entire year
2  Firms operated entire year with sales/receipts...
3  Firms operated entire year with sales/receipts...
4  Firms operated entire year with sales/receipts...

                                                                    \
  Meaning of Sls/rcpts/rev size of firms operated entire year code
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                                               RCPSZFF.id  \
  Sales, receipts, or revenue size of firms operated the entire year code
0                                                1.0
1                                                4.0
2                                              514.0
3                                              523.0
4                                              525.0

                                                                 REVENUE  YEAR
  Sls/rcpts/rev size of firms operated entire year code Revenue ($1,000)  Year
0                                                NaN             2452297  2012
1                                                NaN                   D  2012
2                                                NaN                 884  2012
3                                                NaN                1446  2012
4                                                NaN                6918  2012

[5 rows x 24 columns]